// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/***********************************
table{border-collapse:collapse;}
tr.row td{
border-width:1px 0;
border-style:solid;
border-color:black;
}
tr.row td.left{
border-width:1px 0 1px 1px;
}
tr.row td.right{
border-width:1px 1px 1px 0;
}
**************************************/



/* general table style */

table.general {
	border-spacing: 0px;}
.general th, .general td {
	padding: 5px 15px 5px 10px;
	border-spacing: 0px;
	font-size: 90%;
	margin: 0px;}
.general th, .general td {
	text-align: left;	
	border-top: 1px solid #93c473;
	border-bottom: 1px solid #93c473;
	border-right: 1px solid #93c473;}
.general tr.head th {
	color: #fff;
	background-color: #3a5926;
	border-bottom: 2px solid #93c473;
	border-right: 1px solid #93c473;
	border-top: 1px solid #93c473;
	text-align: center;
	text-shadow: -1px -1px 1px #666666;
	letter-spacing: 0.15em;}
.general td {
	text-shadow: 1px 1px 1px #ffffff;
	padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
}

.general tr.win {
	background-color: #c6deb6;
}
.general tr.even td, .general tr.even th {
	background-color: #e8eff5;}
.general tr.head th:first-child {
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;}
.general tr.head th:last-child {
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;}
	
	
table.sub {
	border-spacing: 0px;}
.sub th, .sub td {
	padding: 1px 1px 1px 1px;
	border-spacing: 0px;
	font-size: 70%;
	margin: 0px;}
.sub th, .sub td {
	text-align: left;	
	border-top: 1px solid #93c473;
	border-bottom: 1px solid #93c473;
	border-left: 1px solid #93c473;
	border-right: 1px solid #93c473;}
.sub tr.head th {
	color: #fff;
	background-color: #3a5926;
	border-bottom: 2px solid #93c473;
	border-right: 1px solid #93c473;
	border-left: 1px solid #93c473;
	border-top: 1px solid #93c473;
	text-align: center;
	text-shadow: -1px -1px 1px #666666;
	letter-spacing: 0.15em;}
.sub td {
	text-shadow: 1px 1px 1px #ffffff;
	padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
}

